In [1]:
import pandas as pd

In [2]:
df_crop = pd.read_csv('Data/ProjectDataset.csv')

In [8]:
df = pd.read_csv('cropRecommendation.csv')

In [9]:
df_crop.head()

,State,Crop,District,Year,Season,Area,Production,Yield,SO2,NO2,RSPM,SPM
0,Chhattisgarh,Arhar/Tur,Bilaspur,2013,Kharif,2308.0,1474,0.64,5.291667,21.473958,119.71875,389.201373
1,Chhattisgarh,Bajra,Bilaspur,2013,Kharif,14.0,7,0.50,5.291667,21.473958,119.71875,389.201373
2,Chhattisgarh,Barley,Bilaspur,2013,Rabi,3.0,2,0.67,5.291667,21.473958,119.71875,389.201373
3,Chhattisgarh,Coriander,Bilaspur,2013,Whole Year,243.0,66,0.27,5.291667,21.473958,119.71875,389.201373
4,Chhattisgarh,Dry chillies,Bilaspur,2013,Whole Year,405.0,369,0.91,5.291667,21.473958,119.71875,389.201373

In [10]:
df.head()

   Unnamed: 0   N   P   K  temperature   humidity        ph    rainfall label
0           0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1           1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2           2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3           3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4           4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [11]:
df.shape

(2224, 9)

In [12]:
df_crop['Crop'].unique()

array(['Arhar/Tur', 'Bajra', 'Barley', 'Coriander', 'Dry chillies',
       'Garlic', 'Ginger', 'Gram', 'Groundnut', 'Horse-gram', 'Jowar',
       'Jute', 'Khesari', 'Linseed', 'Maize', 'Masoor',
       'Moong(Green Gram)', 'Niger seed', 'Onion', 'Other  Rabi pulses',
       'Other Kharif pulses', 'Potato', 'Rice', 'Safflower', 'Sannhamp',
       'Sesamum', 'Small millets', 'Soyabean', 'Sugarcane', 'Sunflower',
       'Sweet potato', 'Urad', 'Wheat', 'Banana', 'Castor seed',
       'Cotton(lint)', 'Ragi', 'Turmeric', 'Coconut', 'Guar seed', 'Moth',
       'Tobacco', 'Other Cereals', 'other oilseeds', 'Cowpea(Lobia)',
       'Arecanut', 'Cashewnut', 'Tapioca', 'Black pepper', 'Cardamom',
       'Oilseeds total'], dtype=object)

In [13]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee', 'wheat',
       'sugarcane', 'Barley', 'bajra', 'Millet', 'Potato', 'Ragi',
       'Dry Chillies', 'Arecanut', 'Garlic', 'Turmeric', 'jowar'],
      dtype=object)

In [14]:
df_crop['Crop'] = df_crop['Crop'].str.lower()
df['label'] = df['label'].str.lower()
df_crop['Crop'] = df_crop['Crop'].replace('cotton(lint)','cotton')
df_crop['Crop'] = df_crop['Crop'].replace('moong(green gram)','mungbean')
df_crop['Crop'] = df_crop['Crop'].replace('urad','blackgram')
df_crop['Crop'] = df_crop['Crop'].replace('arhar/tur','pigeonpeas')
df_crop['Crop'] = df_crop['Crop'].replace('masoor','lentil')
df_crop['Crop'] = df_crop['Crop'].replace('gram','chickpea')
df_crop['Crop'] = df_crop['Crop'].replace('moth','mothbeans')
df['label'] = df['label'].replace('millet','small millets')

In [15]:
labels = df['label'].unique()
crops = df_crop['Crop'].unique()
crop_list = []
for crop in labels:
    if crop in crops:
        crop_list.append(crop)
print(crop_list)

['rice', 'maize', 'chickpea', 'pigeonpeas', 'mothbeans', 'mungbean', 'blackgram', 'lentil', 'banana', 'coconut', 'cotton', 'jute', 'wheat', 'sugarcane', 'barley', 'bajra', 'small millets', 'potato', 'ragi', 'dry chillies', 'arecanut', 'garlic', 'turmeric', 'jowar']

In [16]:
df_crop = df_crop.drop(df_crop[~df_crop['Crop'].isin(crop_list)].index)
df_crop = df_crop.reset_index()
df = df.drop(df[~df['label'].isin(crop_list)].index).reset_index()
df = df.drop('index',axis = 1)

In [20]:
rows = []
for crop in crop_list:
    t = df_crop[df_crop['Crop']==crop].sort_values(by='Yield',ascending=False)
    #print(t)
    t = t.iloc[0:t.shape[0]//3]
    so2 = t['SO2'].mean()
    no2 = t['NO2'].mean()
    rspm = t['RSPM'].mean()
    spm = t['SPM'].mean()
    rows.append([crop, so2, no2, rspm, spm])
temp = pd.DataFrame(rows, columns = ['Crop', 'SO2', 'NO2', 'RSPM', 'SPM'])

In [21]:
temp

             Crop        SO2        NO2        RSPM         SPM
0            rice   8.140827  19.266625   85.913435  164.424864
1           maize   9.205825  21.524440   89.350020  175.726186
2        chickpea  10.473272  24.329321  123.617490  220.160820
3      pigeonpeas  10.348069  22.556811  118.014167  212.344864
4       mothbeans  12.609715  22.522441  126.407027  176.212480
5        mungbean  10.929051  23.680903  109.571484  206.973853
6       blackgram  10.879247  23.067100  103.492921  200.093313
7          lentil  10.160267  24.059730  136.741523  255.843972
8          banana  11.468332  23.807704  106.230453  210.579697
9         coconut   7.419344  20.344779   68.740528  151.985784
10         cotton   8.982356  21.864893  100.168213  202.396403
11           jute   8.211587  20.251122  106.590038  196.726560
12          wheat  11.199115  24.795217  146.795211  257.348358
13      sugarcane  10.018116  22.754899   79.781783  160.496881
14         barley  10.894680  24.818566  158.909202  280.278841
15          bajra  10.504478  21.880990  107.914306  224.844597
16  small millets  10.090178  22.319072   92.202597  185.284333
17         potato  10.995852  23.702683  131.763632  250.344356
18           ragi   9.402249  20.414210   64.785393  163.155175
19   dry chillies   6.579379  16.843270   75.860713  163.065006
20       arecanut   6.752718  18.550494   61.060222  143.744934
21         garlic  11.026488  26.130763  143.934598  255.347001
22       turmeric   7.549055  18.378477   70.048447  171.940611
23          jowar   9.493457  20.545648   91.737591  179.758975

In [22]:
import random
final_val = pd.DataFrame(columns=['SO2','NO2','RSPM', 'SPM'])
for i in range(0,df.shape[0]):
    crop = df.label.iloc[i]
    so2 = temp[temp['Crop']==crop]["SO2"].iloc[0]+random.randint(-3,3)
    no2 = temp[temp['Crop']==crop]["NO2"].iloc[0]+random.randint(-3,3)
    rspm = temp[temp['Crop']==crop]["RSPM"].iloc[0]+random.randint(-20,20)
    spm = temp[temp['Crop']==crop]["SPM"].iloc[0]+random.randint(-20,20)
    temp_dict = {'SO2':so2,'NO2':no2,'RSPM':rspm,'SPM':spm}
    
    final_val = final_val.append(temp_dict,ignore_index=True)

In [23]:
final_val

            SO2        NO2        RSPM         SPM
0      9.140827  19.266625   85.913435  177.424864
1      6.140827  22.266625   94.913435  165.424864
2     11.140827  20.266625   91.913435  158.424864
3     11.140827  18.266625   72.913435  169.424864
4      5.140827  20.266625   75.913435  169.424864
...         ...        ...         ...         ...
1219   3.579379  18.843270   85.860713  152.065006
1220   6.752718  15.550494   55.060222  125.744934
1221   8.026488  29.130763  146.934598  258.347001
1222   9.549055  16.378477   78.048447  171.940611
1223  10.493457  19.545648   76.737591  199.758975

[1224 rows x 4 columns]

In [24]:
df["SO2"] = final_val["SO2"]
df["NO2"] = final_val["NO2"]
df["RSPM"] = final_val["RSPM"]
df["SPM"] = final_val["SPM"]

In [25]:
df

,Unnamed: 0,N,P,K,temperature,humidity,ph,rainfall,label,SO2,NO2,RSPM,SPM
0,0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,9.140827,19.266625,85.913435,177.424864
1,1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,6.140827,22.266625,94.913435,165.424864
2,2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,11.140827,20.266625,91.913435,158.424864
3,3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,11.140827,18.266625,72.913435,169.424864
4,4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,5.140827,20.266625,75.913435,169.424864
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,19,34,58,32,25.000000,55.000000,6.600000,90.000000,dry chillies,3.579379,18.843270,85.860713,152.065006
1220,20,95,13,85,28.000000,47.000000,5.600000,95.000000,arecanut,6.752718,15.550494,55.060222,125.744934
1221,21,40,20,35,19.000000,68.000000,6.200000,40.000000,garlic,8.026488,29.130763,146.934598,258.347001
1222,22,170,200,80,26.000000,70.000000,7.400000,100.000000,turmeric,9.549055,16.378477,78.048447,171.940611
1223,23,45,25,55,25.800000,55.000000,6.780000,78.000000,jowar,10.493457,19.545648,76.737591,199.758975

In [26]:
df.columns

Index(['Unnamed: 0', 'N', 'P', 'K', 'temperature', 'humidity', 'ph',
       'rainfall', 'label', 'SO2', 'NO2', 'RSPM', 'SPM'],
      dtype='object')

In [27]:
df = df[['SO2', 'NO2', 'RSPM', 'SPM', 'N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label']]

In [28]:
df

,SO2,NO2,RSPM,SPM,N,P,K,temperature,humidity,ph,rainfall,label
0,9.140827,19.266625,85.913435,177.424864,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,6.140827,22.266625,94.913435,165.424864,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,11.140827,20.266625,91.913435,158.424864,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,11.140827,18.266625,72.913435,169.424864,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,5.140827,20.266625,75.913435,169.424864,78,42,42,20.130175,81.604873,7.628473,262.717340,rice
...,...,...,...,...,...,...,...,...,...,...,...,...
1219,3.579379,18.843270,85.860713,152.065006,34,58,32,25.000000,55.000000,6.600000,90.000000,dry chillies
1220,6.752718,15.550494,55.060222,125.744934,95,13,85,28.000000,47.000000,5.600000,95.000000,arecanut
1221,8.026488,29.130763,146.934598,258.347001,40,20,35,19.000000,68.000000,6.200000,40.000000,garlic
1222,9.549055,16.378477,78.048447,171.940611,170,200,80,26.000000,70.000000,7.400000,100.000000,turmeric
1223,10.493457,19.545648,76.737591,199.758975,45,25,55,25.800000,55.000000,6.780000,78.000000,jowar

In [29]:
df.to_csv('cropRecommend.csv',index=False)